*{
    border: 1px solid red;
}
.container{
    padding: 1rem;
    
    height: 200vh;
}
.box{
    margin: 2px;
    padding: 2px;
}
.absolute{
    /* position: relative;
    left: 200px; */
}
.fixed{
    /* position: fixed; */
}
.relative{
    position: relative;
    
}
.sticky{
    position: sticky;
    top: 20px;
}