body {
  height: 80vh;
}
.box {
  border: 1px solid #19d285;
  border-radius: 15px;
  padding: 1rem;
}
input {
  outline: none !important;
  background: transparent;
  border: 0;
  color: #c4c2c2;
}

#togglePassword {
  cursor: pointer;
  background: #00000000;
}
