body {
  height: 80vh;
}
.box {
  border: 1px solid #d2f1e4;
  border-radius: 15px;
  padding: 1rem;
}
input {
  outline: none !important;
  background: transparent;
  border: 0;
  color: #c4c2c2;
}
.box:focus {
  box-shadow: 0px px 20px #ffffff;
}
#togglePassword {
  cursor: pointer;
  background: #00000000;
}
